* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
}

a {
  color: inherit;
}

.clearfix {
  content: '';
  display: block;
  clear: both;
}

main {
  width: 820px;
  margin: 0 auto;
  /*border: 1px solid #888;*/
  /* box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75); */
  overflow: hidden;
}

section {
  padding: 22px 60px 0;
  color: #878686;
}

ul {
  list-style: circle;
}

section .item {
  /*border-bottom: 1px solid #0b70bd;*/
}

section .icon {
  width: 1.2em;
  height: 1.2em;
  vertical-align: -0.15em;
  fill: #fff;
  overflow: hidden;
}

section .titleContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
}

section .titleContainer span {
  color: #0b70bd;
  font-size: 18px;
  font-weight: 700;
}

section .titleContainer .iconContainer {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0b70bd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

section .titleContainer .line {
  border: 1px solid #0b70bd;
  margin-left: 20px;
  flex: 1;
}

section .personalInfo .name {
  font-size: 24px;
  margin-bottom: 18px;
}
section .personalInfo .item {
  border: none;
}
section .personalInfo .item p {
  margin: 8px 0;
  font-size: 16px;
}
section .personalInfo .info,
section .personalInfo .connect{
  padding-left: 20px;
}

/*section .personalInfo .lists {*/
/*  display: flex;*/
/*  width: 100%;*/
/*}*/

section .personalInfo .lists .row {
  display: flex;
  margin: 5px 0;
}
section .personalInfo .lists .row .circle{
  width: 6px;
  height: 6px;
  border: #4b4b4b 1px solid;
  background-color: transparent;
  border-radius: 50%;
  margin-right: 4px;
}
section .personalInfo .lists .row .send-email{
  margin-left: 16px;
}

section .personalInfo .lists .row .items {
  display: flex;
  flex: 1;
  align-items: center;
}

section .skill {
  margin: 20px 10px;
  padding-left: 20px;
}
section .skill li{
  margin: 4px 0;
}

section .works .item {
  margin: 20px 10px;
}

section .works .item .icon {
  fill: #0b70bd;
  margin-right: 5px;
}

section .works .item .links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

section .works .item .links a {
  color: #0b70bd;
  flex: 1;
  margin-top: 8px;
}

section .works .pic img {
  width: auto;
  height: 200px;
}

section .works h4 {
  color: #4b4b4b;
  font-size: 15px;
  margin-bottom: 5px;
}

section .works .dis {
  margin: 5px 0;
}

section .works a {
  text-decoration: none;
}

section .works .worksId {
  padding: 10px 0;
}

section .works .worksId.introduction {
  padding-bottom: 5px;
}

section .works .worksId ol {
  margin-left: 20px;
}

section .works .worksId .component {
  text-decoration: underline;
}

section .works span {
  color: #0b70bd;
}

section .company h4 {
  display: flex;
  justify-content: space-between;
}

section .company.item {
  margin: 20px 10px 10px 10px;
}
section .company.item.unity,
section .company.item.jizeng{
  border-bottom: 1px solid #0b70bd;
  padding-bottom: 10px;
}

section .company h4 span {
  color: #4b4b4b;
  font-size: 15px;
}

section .company h4 span.title {
  font-size: 14px;
}

section .intro .item {
  margin: 20px 10px 0 10px;
  border: none;
}

section.worksWrapper {
  padding-bottom: 0;
  padding-top: 0;
}
section.worksWrapper .sketchPad {
  margin-bottom: 0;
}

section .openSource.ui {
  border-bottom: 1px solid #0b70bd;
  padding-bottom: 10px;
}